@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: latoFont;
    src: url(../fontit/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: Ephesis;
    src: url(../fontit/Ephesis/Ephesis-Regular.ttf);
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 45px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    font-size: 22px;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 80px;
    height: 45px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

#prevAndNextButtons {
    width: 20%;
}

.buttonElements p {
    font-size: 25px;
    font-family: Ephesis;
    color: white;
}

.buttonElements .previousButton {
    width: 30%;
    height: 45px;
    border: 1px solid #00B4CC;
    background: #0597aa;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.buttonElements .nextButton {
    width: 30%;
    height: 45px;
    border: 1px solid #00B4CC;
    background: #0597aa;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 30%;
    position: absolute;
    top: 15.4%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Search bar and buttons responsive */

@media only screen and (max-width:1420px) {
    .buttonElements .previousButton {
        width: 35%;
    }
    .buttonElements .nextButton {
        width: 35%;
    }
}

@media only screen and (max-width:1300px) {
    .wrap {
        width: 35%;
    }
    .buttonElements .previousButton {
        width: 40%;
    }
    .buttonElements .nextButton {
        width: 40%;
    }
}

@media only screen and (max-width:1100px) {
    .wrap {
        width: 45%;
    }
    .buttonElements .previousButton {
        width: 45%;
    }
    .buttonElements .nextButton {
        width: 45%;
    }
}

@media only screen and (max-width:1000px) {
    .buttonElements .previousButton {
        width: 50%;
    }
    .buttonElements .nextButton {
        width: 50%;
    }
    #prevAndNextButtons {
        width: 25%;
    }
}

@media only screen and (max-width:900px) {
    .wrap {
        width: 50%;
    }
    .searchTerm {
        font-size: 18px;
    }
}

@media only screen and (max-width:760px) {
    .wrap {
        width: 65%;
        left: 65%;
    }
    .buttonElements .previousButton {
        width: 70%;
    }
    .buttonElements .nextButton {
        width: 70%;
    }
    #prevAndNextButtons {
        width: 30%;
    }
}

@media only screen and (max-width:500px) {
    .wrap {
        width: 70%;
    }
    .searchTerm {
        font-size: 15px;
    }
    .buttonElements .previousButton {
        width: 90%;
    }
    .buttonElements .nextButton {
        width: 90%;
    }
}

@media only screen and (max-width:440px) {
    .searchTerm {
        font-size: 12px;
    }
    .buttonElements .previousButton {
        width: 100%;
    }
    .buttonElements .nextButton {
        width: 100%;
    }
}

@media only screen and (max-height:980px) {
    .wrap {
        top: 16.8%;
    }
}

@media only screen and (max-height:770px) {
    .wrap {
        top: 21.4%;
    }
}

@media only screen and (max-height:700px) {
    .wrap {
        top: 24.4%;
    }
}

@media only screen and (max-height:628px) {
    .wrap {
        top: 27%;
    }
}

@media only screen and (max-height:466px) {
    .wrap {
        top: 37%;
    }
}

@media only screen and (max-height:366px) {
    .wrap {
        top: 47%;
    }
}

@media only screen and (max-height:276px) {
    .wrap {
        top: 75%;
    }
}