/* table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
  }
  
  table td {
	border: 1px solid #ddd;
	padding: 8px;
  }
 
  table tr:hover {
	background-color: white;
  }
  table th {
	padding: 12px 8px;
	text-align: left;
	background-color: black;
	color: white;
  }
  
  .title {
	color: blue;
	text-align: center;
  }
   */