.hidden {
	display: none;
}

.visible {
	display: inline-block;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

#ul-nb {
	list-style: none;
}

#ul-nb li {
	display: inline-block;
	padding: 0 0.5rem;
	margin-left: 0.5rem;
}

#ul-nb li:not(:last-child) {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

nav {
	border-bottom: 1px solid black;
	margin-bottom: 2rem;
}

.projectView {
	margin: 20px 40px 20px 40px;
}

.projectItem {
	margin: 10px 100px 10px 100px;
}

.projectAdd {}

.projectRemove {}

.listItem {
	margin: 20px 40px 20px 40px;
	min-width: 280px;
	max-width: 400px;
	min-height: 400px;
}

.listAdd {}

.listRemove {}

.cardItem {
	border: 2px solid #ccc;
	padding: 20px
}

.cardAdd {}

.cardRemove {}

.nav {
	min-height: 100%;
	width: 20em;
}